.wrapper {
    position: absolute;
    background: yellow;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    margin-top: 260px;
    border-radius: 10%;
}
.header {
    border-bottom: 2px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem 1.6rem;
    text-align: center;
    width: 300px;
}
.title {
    font-size: 2rem;
    font-weight: 600;
}
.close_btn {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") no-repeat;
    background-color: initial;
    border-width: 0;
    height: 1rem;
    margin-top: .1rem;
    opacity: .5;
    text-align: center;
    width: 1rem;
}
.body {
    margin-top: 1rem;
    text-align: center;
}
.checkSave {
    margin-bottom: 1.6rem;
    margin-left: 1.6rem;
    text-align: left;
}
.btnLogin {
    color: #fff;
    font-size: .9rem;
    height: 2.5rem;
    margin: .6rem 0;
    width: 22rem;
}
